<div *ngIf="post">
    <h2>{{post.title}}</h2>
    <h3>{{post.author}}</h3>
    <p>{{post.text}}</p>
    <a routerLink="/post-details/{{post.id}}/edit">
        <button type="button">Edit</button>
    </a>
    <button type="button">Remove</button>

    <a routerLink="/post-details/{{post.id}}/comment-create">
        <button type="button">Add comment</button>
    </a>
    
    <h4>Comments:</h4>
    <div *ngFor="let comment of post.comments">
        <app-comment [comment]="comment"></app-comment>
    </div>
</div>